<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div class="container">
    <a href="/companies" th:text="#{companies}"></a>
    <a href="/employees" th:text="#{employees}"></a>
    <a href="/users" th:text="#{users}">Users</a>
    <a href="/user/add" th:text="#{add_user}">Add User</a>
    <a href="/company/add" th:text="#{add_company}"></a>
</div>
<div class="change_language">
    <a href="?lang=en">English</a>
    <a href="?lang=hy">Հայերեն</a>
    <a href="?lang=ru">Русский</a>
</div>


</body>
</html>